{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="logo" href="/core"><img src="{% static 'imagens/car_icon_145832.png' %}" alt="logo"></a>
                <a class="nav-link active nav-admin" aria-current="page" href="{% url 'areaAdmin' %}">ADMIN</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <h1>Salvar novos Veículos</h1>
            <div class="mb-3">
                <label class="form-label" for="modelo">Modelo:</label>
                <input class="form-control" type="text" name="modelo">
            </div>
            <div class="mb-3">
                <label class="form-label" for="marca">Marca:</label>
                <input class="form-control" type="text" name="marca">
            </div>
            <div class="mb-3">
                <label class="form-label" for="anoFabricacao">Ano de Fabricação:</label>
                <input class="form-control" type="number" name="anoFabricacao">
            </div>
            <div class="mb-3">
                <label class="form-label" for="potenciaCV">Potencia(CV):</label>
                <input class="form-control" type="number" name="potenciaCV">
            </div>
            <div class="mb-3">
                <label class="form-label" for="preco">Preço:</label>
                <input class="form-control" type="number" name="preco">
            </div>
            <div class="mb-3">
                <label class="form-label" for="imgUrl">URL da Imagem:</label>
                <input class="form-control" type="text" name="imgUrl">
            </div>
            <button class="btn btn-outline-primary" type="submit">salvar</button>
        </form>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano de Fabricação</th>
                    <th scope="col">Potencia(cv)</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Açoês</th>
                </tr>
            </thead>
            <tbody>
                {% for carro in carros %}
                <tr>
                    <th scope="row">{{ carro.id }}</th>
                    <td>{{ carro.modelo }}</td>
                    <td>{{ carro.marca }}</td>
                    <td>{{ carro.anoFabricacao }}</td>
                    <td>{{ carro.potenciaCV }}</td>
                    <td>{{ carro.preco }}</td>
                    <td>
                        <a href="{% url 'editar' carro.id %}">Editar</a>
                        <a href="{% url 'delete' carro.id %}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</body>

</html>